<p id="notice"><%= notice %></p>

<h1>Orders</h1>

<table class = "table">
  <thead>
    <tr>
      <th>Delivery name</th>
      <th>Delivery address</th>
      <th>Order updates</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.delivery_name %></td>
        <td><%= order.delivery_address %></td>
        <td><%= order.order_updates %></td>
        <td><%= link_to order.user.name, order.user %></td>
        <td><%= link_to 'Show', order %></td>
        <% if logged_in? && current_user.role == 1 %>
          <td><%= link_to 'Edit', edit_order_path(order) %></td>
          <td><%= link_to 'Destroy', order, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
