<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(transfer) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
      <div class="field">
        <%= f.label :barcode %>
        <%= f.text_field :barcode, class: 'form-control' %>
      </div>
      <div class="field">
        <%= f.label :name %>
        <%= f.text_field :name, class: 'form-control' %>
      </div>
    
      <div class="field">
        <%= f.label :description %>
        <%= f.text_area :description, class: 'form-control' %>
      </div>
    
      <div class="field">
        <%= f.label :price %>
        <%= f.text_field :price, class: 'form-control' %>
      </div>
      
      <div class="actions">
        <%= f.submit("Submit",class: 'btn btn-primary') %>
      </div>
    <% end %>
  </div>
</div>