
<div id="product-<%= product.id %>" class="col-sm-4 col-md-3 product">
  <div class="center">
    <%if product.picture?%>
      <%= link_to image_tag(product.picture.url, alt: product.name, size: "200"), product %>
    <% else %>
      <%= link_to image_tag("delivery.jpg", alt: "Default Product Picture", size: "200"), product %>
    <% end %>
  </div>
  <div class="name center">
      <%= link_to product.name, product %>
      <% if !!current_user && current_user.role == 1 %>
        <br/><%= link_to 'Edit', edit_product_path(product) %>
        | <%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %>
      <% end %>
  </div>
  <br/>
  <div class="price">Price: €<%= product.price %></div>
  <br/>
  <div class="decription">Description: <%= product.description.truncate_words(5) %></div>
  <div class="stock">Stock available:<%= product.stocks.sum(:quantity) %></div>
</div>
