<% provide(:title, @product.name) %>
<div class="container" id="show-product">
  <div class="col-sm-3">
    <%if @product.picture?%>
      <%= link_to image_tag(@product.picture.url, alt: @product.name, size: "200"), @product %>
    <% else %>
      <%= link_to image_tag("delivery.jpg", alt: "Default Product Picture", size: "200"), @product %>
    <% end %>
  </div>
  <div class="col-sm-6">
    <div class="name">
      <h1><%= @product.name %></h1>
      <div class='center'>
      <% if !!current_user && current_user.role == 1 %>
      | <%= link_to 'Edit', edit_product_path(@product) %>
      | <%= link_to 'Destroy', @product, method: :delete, data: { confirm: 'Are you sure?' } %>
      <% end %>
      <% if !!current_user && current_user.role > 0 %>
      | <%= link_to 'Transfer Stock', new_transfer_product_path(@product) %>
      <% end %>
      </div>
    </div>
    <hr>
    <div class="price">Price: <%= @product.price %></div>
    <div class="decription">Description: <%= @product.description %></div>
    <div class="stock">Stock: <%= @product.stocks.sum(:quantity) %></div>
  </div>
  <div class="col-sm-3">
    <form action = "<%= add_to_cart_url %>" method="get">
      Quantity x <input type="number" name="quantity" value="1">
      <input type="hidden" name="id" value=<%= @product.id %>>
      <input type="submit" value="Add to cart" class= "btn btn-primary btn-block">
      <%= link_to 'Buy Now', "#", class: "btn btn-success btn-block"%>
      <%= link_to 'Back', products_path, class: "btn btn-default btn-block"%>
    </form>
  </div>
</div>